<h1>NEW PLAANE</h1>

<!--  Active record will create errors for us so we can use them later -->


<%= form_for @plane do |f| %>
  <p>
  <%= f.label :name %>
  <%= f.text_field :name, :required => true %>
</p>

<p>
<%= f.label :rows %>
<%= f.number_field :rows, :required => true %>
</p>

<p>
<%= f.label :columns%>
<%= f.number_field :columns, :required => true %>
</p>

<%= f.submit "Submit" %>
<% end %>
