<p id="notice"><%= notice %></p>


<p>
  <strong>Flight Name:</strong>
  <%= @flight.name %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @flight.origin %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @flight.destination %>
</p>

<p>
  <strong>Departure:</strong>
  <%= @flight.departure %>
</p>

<p>
  <strong>Plane:</strong>
  <%= @flight.plane_id %>
</p>

<%= link_to 'Back', flights_path %>
<%= link_to 'Edit', edit_flight_path(@flight) %> |


 <hr>
 NOW WE DO IT IN JAVASCRIPT KEK

<div id="main">
 we aint flying
</div>

<script id="appViewTemplate" type="html/template">
  <h1>memes</h1>

  <div id="flightName">THERES NOTHING HEERE</div>
  <div id="flightOrigin"> </div>
  <div id="flightDestination"></div>


</script>
<!--
<script id="secretInputViewTemplate" type="html/template">
  <textarea placeholder = "Tell me all of your secrets"> </textarea>
  <button>submit</button>
</script> -->

<hr>
