<!DOCTYPE html>
<html>
<head>
  <title>FreezingAirlines</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">

    <img class="header"src="http://i.imgur.com/iOzRB2V.png" alt="Burning Airplanes" width="830" height="250"/>

  </div>
  <nav class="navbar navbar-inverse">
    <ul class="nav nav-pills">

      <% if @current_user.present? %>
      <li role="presentation"><%= link_to "Home",  main_index_path, :class => 'button' %></li>
      <% if  @current_user.user_type == 0 %>

      <li role="presentation"><%= link_to "Flights", flights_path, :class => 'button' %></li>
      <li role="presentation"><%= link_to "New Flights", new_flight_path, :class => 'button' %></li>
      <li role="presentation"><%= link_to "Planes", planes_path, :class => 'button' %></li>

      <% end %>
      <% end %>

      <% if @current_user.present? %>
      <%= @current_user.email %>
      <li role="presentation"><%= link_to "Reservations", reservations_path, :class => 'button' %></li>
      <li role="presentation">  <%= link_to "Log Out", logout_path, :method => :delete, :class => 'button' %></li>
      <% else %>
      <li role="presentation"><%= link_to "Sign Up", new_user_path, :class => 'button' %></li>
      <% end %>
    </ul>

  </nav>


<%= yield %>
</div>
</body>
</html>
