<!DOCTYPE html>
<html>
<head>
  <title>FreezingAirlines</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="jumbotron">

    <img class="header"src="http://i.imgur.com/iOzRB2V.png" alt="Burning Airplanes" width="830" height="250"/>

  </div>
  <nav class="navbar navbar-inverse">

          <%= link_to "Home", flights_path, :class => 'button' %>
            <% if @current_user.present? %>
            <a href="#" class="button">Reservations</a>
            <a href="#" class="button">Search flights</a>
            <%= link_to "New Flights", new_flight_path, :class => 'button' %>
              <%= link_to "Planes", planes_path, :class => 'button' %>
            <%= link_to "Log Out", logout_path, :method => :delete, :class => 'button' %>
            <%= @current_user.email %>

            <% else %>

            <%= link_to "Sign Up", new_user_path, :class => 'button' %>

            <% end %>



  </nav>


<%= yield %>
</div>
</body>
</html>
